<header class="header-site" role="banner">
    <div class="content">

        <div class="person">
            <img src="/assets/img/doge.png" alt="Bork!">
        </div>

        <h1>
            <span class="site-title">[{{site.username}}]</span>
        </h1>

        <div class="icons-home">

            <a aria-label="Send email" href="mailto:{{site.email}}">
                <svg class="icon icon-email"><use xlink:href="#icon-email"></use></svg>
            </a>

            <a aria-label="My Twitter" target="_blank" href="https://twitter.com/{{site.twitter_username}}">
                <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
            </a>

            <a aria-label="My Github" target="_blank" href="https://github.com/{{site.github_username}}">
                <svg class="icon icon-github-alt"><use xlink:href="#icon-github-alt"></use></svg>
            </a>

        </div>

        <ul class="recent">
            <p>Recent Posts:</p>
             {% for post in site.posts limit:4%}
                <li>
                    <a href="{{ post.url | prepend: site.baseurl }}">
                        <h2 class="post-title" itemprop="name">{{ post.title }}</h2>
                    </a>
                </li>
              {% endfor %}
        </ul>
       <!--<ul class="recent">
            <p>Recent CTFs:</p>
             {% for ctf in site.ctfs limit:3%}
            <li>
                <a href="{{ ctf.url | prepend: site.baseurl }}">
                    <h2 class="post-title" itemprop="name">{{ ctf.title }}</h2>
                </a>
            </li>
              {% endfor %}
        </ul>
        Will add in once projects are complete or will put penetration testing certifications here. 
        Potentially have two recent sections: recent certifications and recent conferences
        -->
    </div>
    {% include menu-search.html %}
</header>
